.logo {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #00000087;

  img {
    position: relative;
    width: 50%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
  }
}
