.player {
    position: absolute;
    top: 20px;
    left: 20px;
}

.opponent {
    position: absolute;
    top: 20px;
    right: 20px;
}

.backButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.refresh {
    position: absolute;
    bottom: 20px;
    right: 80px;
}

.settings {
    position: absolute;
    bottom: 20px;
    right: 20px;
}