section {
  /*overflow: hidden;*/
}
.ribbon {
  min-width: 320px;
  position: absolute;
  top: calc(10% - 3rem);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 36rem;
  height: 7rem;
  left: calc(50% - 18rem);
  z-index: 10;
}
.popup {
  min-width: 324px;
  min-height: 400px;
  width: 100%;
  height: 98vh;
  position: relative;
  z-index: 9;
}
.chesslogo {
  z-index: 10;
  position: absolute;
  top: 9rem;
  left: calc(50% - 14rem);
  width: 28rem;
  height: 18rem;
}

.buttons {
  display: grid;
  width: 270px;
  position: relative;
  top: 61%;
  left: 42%;
}
.but1 {
  background-image: url(../../assets/image/button.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid #097e59 5px;
  height: 70px;
  margin: 0 0 10px 0;
  font-family: fantasy, Courier, monospace;
  /* font-family: Haettenschweiler; */
  border-radius: 50px;
  color: #f9f8cb;
  font-size: 2rem;
  width: 15rem;
  z-index: 100;
  position: absolute;
  left: calc(50% - 7.5rem);
  top: 72vh;
  text-shadow: -2px 2px 2px #0d6c6e, 2px 2px 2px #0d6c6e, 2px -2px 2px #0d6c6e,
    -2px -2px 2px #0d6c6e;
}
.but1:hover {
  background-color: #3e8e41;
}

.but1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.but1 span {
  -webkit-text-stroke: 2px #0c6c6d;
}

.inputName {
  background: url(../../assets/image/inputbox.png) no-repeat right center;
  background-size: cover;
  position: absolute;
  left: calc(50% - 17rem);
  top: 55%;
  height: 12%;
  border: #8c7488 solid;
  font-family: Haettenschweiler;
  font-size: 3rem;
  color: white !important;
  width: 34rem;
  z-index: 100;
  border-radius: 10vw;
  height: 70px;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .inputName {
    width: 50vw;
    left: calc(50% - 25vw);
  }
  .ribbon {
    width: 24rem;
    left: calc(50% - 12rem);
    height: 6rem;
    top: 4%;
  }
}

@media only screen and (max-width: 576px) {
  .ribbon {
    width: 18rem;
    left: calc(50% - 9rem);
    height: 5rem;
    top: 5%;
  }
  .popup {
    margin-left: 1rem;
    height: 97vh;
    width: 97vw;
  }
  .chesslogo {
    width: 75vw;
    height: 50vw;
    left: calc(50% - 36vw + 0.5rem);
  }
  .inputName {
    font-size: 2rem;
    border-radius: 100px;
  }
  .but1 {
    left: calc(50% - 6.5rem);
  }
}

@media only screen and (max-width: 400px) {
  .inputName {
    width: 13rem;
    left: calc(50% - 6.5rem);
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 324px) {
  .ribbon {
    top: 2.5rem;
    left: 1rem;
  }
  .chesslogo {
    top: 7rem !important;
    width: 14rem;
    height: 10rem;
    left: calc(50% - 6rem);
    position: fixed;
  }
  .inputName {
    top: 21rem;
    width: 12rem;
    height: 4rem;
    left: calc(50% - 6.5rem);
    position: fixed;
  }
  .but1 {
    top: 28rem;
    width: 14rem;
    height: 4rem;
    left: calc(50% - 6.5rem);
    position: fixed;
  }
  .popup {
    height: 38rem;
    width: 16rem;
  }
  section {
  }
}

@media only screen and (max-height: 768px) {
  .chesslogo {
    top: 18%;
  }
}

@media only screen and (max-height: 624px) {
  .ribbon {
    /* width: 32rem;
    left: calc(50% - 16rem);*/
    /*height: 5rem;*/
    top: calc(10% - 2.5rem);
  }
  .chesslogo {
    display: none;
  }
  .inputName {
    top: 40%;
  }
  .but1 {
    top: 60%;
  }
}
@media only screen and (max-height: 468px) {
  .inputName {
    top: 36%;
  }
  .but1 {
    top: 60%;
  }
}

@media only screen and (max-height: 364px) {
  .inputName {
    top: 8rem;
  }
  .but1 {
    top: 16rem;
  }
  .ribbon {
    /*height: 5rem;*/
    top: 8px;
  }
}
