.Victory {
  .u-container {
    width: 100%;
    height: 100vh;
    max-width: 70vmin;
    max-height: 70vmin;
    margin: auto;
    position: relative;

    * {
      max-width: 70vmin;
      max-height: 70vmin;
    }

    .u-background {
      width: 100%;
      height: 80%;
      bottom: 0;
      position: absolute;
    }

    .u-foreground {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;

      .u-mark {
        height: 50%;
      }

      .u-list {
        padding: 0 10%;
        height: 30%;

        .u-list-item {
          padding: 0 20%;
          margin: 3%;
          height: 40%;
          display: flex;
          justify-content: space-between;
          background-image: url("../../../assets/img/victory_container.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          align-items: center;

          .u-item-image {
            height: 80%;
          }

          .u-item-text {
            font-family: fantasy, Courier, monospace;
            color: #f8cf29;
            text-shadow: -2px 2px 2px #3a0b15, 2px 2px 2px #3a0b15,
              2px -2px 2px #3a0b15, -2px -2px 2px #3a0b15;
            font-size: 4vmin;
          }
        }
      }

      .u-button {
        position: relative;
        text-align: center;
        background-image: url("../../../assets/img/victory_button.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 30vmin;
        height: 10%;
        border-radius: 100px;
        color: white;
        font-family: fantasy, Courier, monospace;
        font-size: 4vmin;
        background-color: transparent;
        border-color: transparent;
        text-shadow: -2px 2px 2px #0d6c6e, 2px 2px 2px #0d6c6e,
          2px -2px 2px #0d6c6e, -2px -2px 2px #0d6c6e;
      }

      .u-button:active {
        margin: 1px 0 0 1px;
        color: black;
      }
    }
  }
}
