.Popup {
  .u-container {
    width: 100%;
    height: 100vh;
    max-width: 70vmin;
    max-height: 70vmin;
    margin: 0 auto;
    position: relative;
    background-image: url("../../../assets/img/back_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    * {
      max-width: 70vmin;
      max-height: 70vmin;
    }

    .u-content {
      width: 80%;
      margin: 10%;
      font-size: 3vmin;
      color: white;
      font-family: fantasy, Courier, monospace;
    }

    .u-footer {
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .u-button {
        position: relative;
        text-align: center;
        background-image: url("../../../assets/img/victory_button.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 20vmin;
        height: 10%;
        border-radius: 100px;
        color: white;
        font-family: fantasy, Courier, monospace;
        font-size: 4vmin;
        background-color: transparent;
        border-color: transparent;
        text-shadow: -2px 2px 2px #0d6c6e, 2px 2px 2px #0d6c6e,
          2px -2px 2px #0d6c6e, -2px -2px 2px #0d6c6e;
      }

      .u-button:active {
        font-size: 3.9vmin;
      }
    }
  }
}
