.Popup {
  .form {
    width: 47vw;
    height: calc(70vw * 0.5);
    background-image: url("../../../assets/img/back_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    .content {
      text-align: left;
      margin: 10vw 6vw 0;
      font-family: "HaettenschweilerRegular";
      letter-spacing: 0.01em;
      color: #f9f8cb;
      font-size: 2vw;
      vertical-align: middle;
    }
    .footer {
      position: absolute;
      bottom: 3vw;
      display: flex;
      width: 100%;
      padding: 0 3vw;
      justify-content: space-between;
      .button-div {
        cursor: pointer;
        width: 12vw;
        margin: 0 1.5vw;
        background-image: url('../../../assets/img/blue_button_bg.png');
        background-repeat:no-repeat;
        background-size: cover;
        height: 3.5vw;
        text-align: center;
        color: #f9f8cb;
        font-size: 2.7vw;
        font-family: "HaettenschweilerRegular";
        letter-spacing: 0.01em;
        line-height: 1.25;
        text-shadow: 1px 1px 0 #0C6C6D,
            -1px 1px 0 #0C6C6D,
            1px -1px 0 #0C6C6D,
            -1px -1px 0 #0C6C6D,
            0px 1px 0 #0C6C6D,
            0px -1px 0 #0C6C6D,
            -1px 0px 0 #0C6C6D,
            1px 0px 0 #0C6C6D,
            2px 2px 0 #0C6C6D,
            -2px 2px 0 #0C6C6D,
            2px -2px 0 #0C6C6D,
            -2px -2px 0 #0C6C6D,
            0px 2px 0 #0C6C6D,
            0px -2px 0 #0C6C6D,
            -2px 0px 0 #0C6C6D,
            2px 0px 0 #0C6C6D,
            1px 2px 0 #0C6C6D,
            -1px 2px 0 #0C6C6D,
            1px -2px 0 #0C6C6D,
            -1px -2px 0 #0C6C6D,
            2px 1px 0 #0C6C6D,
            -2px 1px 0 #0C6C6D,
            2px -1px 0 #0C6C6D,
            -2px -1px 0 #0C6C6D;
      }
    }
  }
}
