.join{
	top : 20% !important;
	letter-spacing: 0!important;
}
.inputKey {
	top : 40%;
	text-align : center;
}
.inputName {
	text-align : center!important;
}
.joinPopup{
	min-height : 550px; 
}

@media only screen and (max-width:  324px) {
	.inputKey{
		top: 16rem;
	}
	.joinCommentDiv{
		height : 6rem;
	}
}

@media only screen and (max-height:  624px) {
	.inputKey {
		top : 9rem;
	}
	.joinCommentDiv{
		display:none;
	}
	.inputJoin {
	  top: 15rem;
	}
   .joinBut{
	  top: 22rem;
	}

}

@media only screen and (max-height:  468px) {

	.inputKey {
		top : 9rem;
	}
	.joinCommentDiv{
		display:none;
	}
	.inputJoin {
		top: 15rem;
	}
	.joinBut{
		top: 22rem;
	}

}
	
@media only screen and (max-height:  364px) {

	.inputKey {
		top : 9rem!important;
	}
	.joinCommentDiv{
		display:none;
	}
	.inputJoin {
		top: 15rem!important;
	}
	.joinBut{
		top: 22rem!important;
	}
}