@font-face {
	font-family: 'Haettenschweiler';
	src: local('Haettenschweiler'),
		 url('./assets/fonts/Haettenschweiler.ttf') format('truetype'), /* Super Modern Browsers */
}

@font-face {
	font-family: 'HaettenschweilerRegular';
	src: local('HaettenschweilerRegular'),
		 url('./assets/fonts/Haettenschweiler Regular.ttf') format('truetype'), /* Super Modern Browsers */
}

.App {
    position: relative;
    width: 100vw;
    height: 100vh;
}

